<div *ngIf="f.submitted && isSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
    <h4>Réservation enregistrée !</h4>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" (click)="open()" data-bs-toggle="modal" data-bs-target="#reserverVehiculeModal">
    Reserver un vehicule
</button>
<div class="modal" id="reserverVehiculeModal" tabindex="-1" aria-labelledby="reserverVehiculeModalLabel" aria-hidden="true" #reserverVehiculeModal>
    <div *ngIf="isFail" class="alert alert-danger" role="alert">
        <h4>Erreur : {{ errorMessage }} !</h4>
    </div>
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="reserverVehiculeModalLabel">Réserver un vehicule</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <form
                    name="searchForm"
                    (ngSubmit)="f.form.valid && search(f)"
                    #f="ngForm"
                    novalidate>
                    <div class="mb-4 row">
                        <label for="dateAller" class="col-sm-3 col-form-label">Date / Heure de réservation</label>
                        <div class="col-sm-2">
                            <input
                                required
                                type="date"
                                class="form-control"
                                id="dateAller"
                                name="dateAller"
                                min="{{ minDate }}"                     
                                [(ngModel)]="searchForm.dateAller"
                                #dateAller="ngModel"/>
                        </div>
                        <div class="col-sm-1">
                            <select
                                name="heuresAller"
                                class="form-select"
                                id="heuresAller"
                                [(ngModel)]="searchForm.heuresAller"
                                #heuresAller="ngModel">
                                <option *ngFor="let h of arrayHeures" [value]="h">
                                    {{ h }}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-1" id="h">h</div>
                        <div class="col-sm-1">
                            <select
                                value="0"
                                class="form-select col-sm-1"
                                id="minutesAller"
                                name="minutesAller"
                                [(ngModel)]="searchForm.minutesAller"
                                #minutesAller="ngModel">
                                <option *ngFor="let m of arrayMinutes" [value]="m">
                                    {{ m }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-4 row">
                        <label for="dateRetour" class="col-sm-3 col-form-label">Date / Heure retour</label>
                        <div class="col-sm-2">
                            <input
                                required
                                type="date"
                                class="form-control"
                                id="dateRetour"
                                name="dateRetour"
                                min="{{ minDate }}"                     
                                [(ngModel)]="searchForm.dateRetour"
                                #dateRetour="ngModel"/>
                        </div>
                        <div class="col-sm-1">
                            <select
                                name="heuresRetour"
                                class="form-select"
                                id="heuresRetour"
                                [(ngModel)]="searchForm.heuresRetour"
                                #heuresRetour="ngModel">
                                <option *ngFor="let h of arrayHeures" [value]="h">
                                    {{ h }}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-1" id="h">h</div>
                        <div class="col-sm-1">
                            <select
                                value="0"
                                class="form-select col-sm-1"
                                id="minutesRetour"
                                name="minutesRetour"
                                [(ngModel)]="searchForm.minutesRetour"
                                #minutesRetour="ngModel">
                                <option *ngFor="let m of arrayMinutes" [value]="m">
                                    {{ m }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mb-4">
                        <button class="btn btn-lg btn-outline-primary" type="submit">Rechercher</button>
                    </div>
                </form>
                <div *ngIf="f.submitted && availableVehicules.length==0" class="alert alert-dark" role="alert">
                    <h4>Aucun vehicule disponible pour les dates sélectionnées.</h4>
                </div>
                <div *ngIf="f.submitted && availableVehicules.length > 0">
                    <div id="carouselVoitures" class="carousel carousel-dark slide" data-bs-interval="false">
                        <div class="carousel-indicators">
                            <button type="button" *ngFor="let v of availableVehicules; let i = index"
                                data-bs-target="#carouselVoitures"
                                attr.data-bs-slide-to="{{i}}"
                                [ngClass]="i == 0 ? 'active' : ''">
                            </button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let v of availableVehicules; let i = index" [ngClass]="i == 0 ? 'active' : ''"> 
                                <img src="{{ v.imgUrl }}" class="d-block center-block imgCarou">
                                <div class="carousel-caption ">
                                    <h3>{{ v.immatriculation }}</h3>
                                    <p>{{ v.marque }} - {{ v.modele }}</p>
                                    <p>{{ this.categories.get(v.categorie) }}</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselVoitures" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselVoitures" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Annuler</button>
                    <button type="submit" class="btn btn-primary" (click)="reserver()" [ngClass]="availableVehicules == null ? 'disabled' : ''">Réserver</button>
                </div>
            </div>
        </div>
    </div>
</div>