<div id="app">
  <div *ngIf="isLoggedIn">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container-fluid">
        <a href="#" class="navbar-brand btn disabled">Application Transport</a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- CHAUFFEURS -->
          <ul class="navbar-nav me-2 mb-2 mb-lg-0" routerLinkActive="active">

          <!-- CHAUFFEURS -->
            <li class="nav-item" *ngIf="!isCollaborateur">
              <a href="/plannig" class="nav-link" routerLink="planning">Planning</a>
            </li>
            <li class="nav-item" *ngIf="!isCollaborateur">
              <a href="/occupation" class="nav-link" routerLink="occupation">Occupation</a>
            </li>

          <!-- COLLABORATEURS -->
            <li class="nav-item" *ngIf="isCollaborateur">
              <a href="/reservations" class="nav-link" routerLink="reservations">Vos réservations</a>
            </li>
            <li class="nav-item" *ngIf="isCollaborateur">
              <a href="/annonces" class="nav-link" routerLink="annonces">Vos annonces</a>
            </li>


          <!-- ADMIN ONLY-->
            <li class="nav-item dropdown" *ngIf="isAdmin">
              <a class="nav-link dropdown-toggle text-danger" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Administration
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="adminDropdown">
                <li>
                  <a href="/chauffeur" class="nav-link dropdown-item" routerLink="admin">Chauffeurs</a>
                </li>
                <li>
                  <a href="/vehicules" class="nav-link dropdown-item" routerLink="admin">Véhicules</a>
                </li>
              </ul>
            </li>

          </ul>
        </div>

        <span class="nav-text dropdown" *ngIf="isLoggedIn">
          <div class="btn-group">
            <div class="nav-link dropdown-toggle" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ imgUrl }}" class="profile-img rounded-circle" id="navProfilPic">
            </div>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" id="userDropdownMenu" aria-labelledby="profileDropdown">
              <li><a href="/profile" class="nav-link dropdown-item" routerLink="profile">Mon profil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a href class="nav-link dropdown-item" (click)="logout()">Se déconnecter</a></li>
            </ul>
          </div>
        </span>
      </div>

    </nav>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
