<div class="container-fluid">
  <h3>Mes réservations</h3>
  <button class="btn btn-primary" (click)="toggle1()" id="covoit"> Covoiturage</button>
  <button class="btn btn-primary pull-right" (click)="toggle2()" id="service">Véhicule de société</button>

  <ng-container *ngIf="show=='covoit'">
      <h4>Réservations de covoiturage en cours</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date / heure de début</th>
          <th scope="col">Durée</th>
          <th scope="col"> Destination</th>
          <th scope="col"> Détails du voyage </th>
        </tr>
      </thead>
      <tbody *ngFor="let covoiturage of covoituragesencours">
        <tr>
          <td>{{covoiturage.date}}</td>
          <td>{{covoiturage.duree}}</td>
          <td>{{covoiturage.adresseDestination}}</td>
          <td><a href="/detailscovoiturage" [routerLink]="['/details', covoiturage.id]" class="btn btn-primary"> voir détails </a></td>
        </tr>
      </tbody>
    </table>
    <h4>Historique de réservations covoiturage</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date / heure de début</th>
          <th scope="col">Durée</th>
          <th scope="col"> Destination</th>
          <th scope="col"> Détails du voyage </th>
        </tr>
      </thead>
      <tbody *ngFor="let covoiturage of covoituragesfinis">
        <tr>
          <td>{{covoiturage.date}}</td>
          <td>{{covoiturage.duree}}</td>
          <td>{{covoiturage.adresseDestination}}</td>
          <td><a href="/detailscovoiturage" [routerLink]="['/details', covoiturage.id]" class="btn btn-primary"> voir détails </a></td>
        </tr>
      </tbody>
    </table>
    <a [routerLink]='nouvelleResaCovoit' class="btn btn-primary"> Reserver un covoiturage </a>
  </ng-container>

  <ng-container *ngIf="show=='service'">
    <h4>Réservations de véhicule de société en cours</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date / heure de début</th>
        <th scope="col">Date / heure de fin</th>
        <th scope="col">Immatriculation</th>
        <th scope="col">Marque</th>
        <th scope="col">Modèle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>exemple</td>
        <td>exemple</td>
        <td>exemple</td>
        <td>exemple</td>
        <td>exemple</td>
      </tr>
    </tbody>
  </table>
  <h4>Historique de réservations de véhicule de société</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date / heure de début</th>
        <th scope="col">Date / heure de fin</th>
        <th scope="col">Immatriculation</th>
        <th scope="col">Marque</th>
        <th scope="col">Modèle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>exemple</td>
        <td>exemple</td>
        <td>exemple</td>
        <td>exemple</td>
        <td>exemple</td>
      </tr>
    </tbody>
  </table>
  <a [routerLink]='nouvelleResaVoiture' class="btn btn-primary"> Reserver une voiture de société </a>
</ng-container>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

