<div class="container-fluid">
  <h3>Mes réservations</h3>
  <button class="btn btn-primary" (click)="toggle1()" id="covoit"> Covoiturage</button>
  <button class="btn btn-primary pull-right" (click)="toggle2()" id="service">Véhicule de société</button>

  <ng-container *ngIf="show=='covoit'">
      <h4>Réservations de covoiturage en cours</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date / heure de début</th>
          <th scope="col">Durée</th>
          <th scope="col"> Destination</th>
          <th scope="col"> Détails du voyage </th>
        </tr>
      </thead>
      <tbody *ngFor="let covoiturage of covoituragesencours">
        <tr>
          <td>{{displayDate(covoiturage.date)}}</td>
          <td>{{covoiturage.duree}}</td>
          <td>{{covoiturage.adresseDestination}}</td>
          <td><a href="/detailscovoiturage" [routerLink]="['/details', covoiturage.id]" class="btn btn-primary"> voir détails </a></td>
        </tr>
      </tbody>
    </table>
    <h4>Historique de réservations covoiturage</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date / heure de début</th>
          <th scope="col">Durée</th>
          <th scope="col"> Destination</th>
          <th scope="col"> Détails du voyage </th>
        </tr>
      </thead>
      <tbody *ngFor="let covoiturage of covoituragesfinis">
        <tr>
          <td>{{displayDate(covoiturage.date)}}</td>
          <td>{{covoiturage.duree}}</td>
          <td>{{covoiturage.adresseDestination}}</td>
          <td><a href="/detailscovoiturage" [routerLink]="['/details', covoiturage.id]" class="btn btn-primary"> voir détails </a></td>
        </tr>
      </tbody>
    </table>
    <app-reserver-covoiturage></app-reserver-covoiturage>
  </ng-container>

  <ng-container *ngIf="show=='service'">
    <h4>Réservations de véhicule de société en cours</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date / heure de début</th>
        <th scope="col"> Durée </th>
        <th scope="col"> Destination</th>
        <th scope="col"> Détails de la réservation</th>
      </tr>
    </thead>
    <tbody *ngFor="let reservation of reservationsencours">
      <tr>
        <td>{{reservation.date}}</td>
        <td>{{reservation.duree}}</td>
        <td>{{reservation.adresseDestination}}</td>
        <td><a href="/detailscovoiturage" [routerLink]="['/details', reservation.id]" class="btn btn-primary"> voir détails </a></td>
      </tr>
    </tbody>
  </table>
  <h4>Historique de réservations de véhicule de société</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date / heure de début</th>
        <th scope="col"> Durée </th>
        <th scope="col"> Destination</th>
        <th scope="col"> Détails de la réservation</th>
      </tr>
    </thead>
    <tbody>
      <tbody>
        <tr>
          <td>exemple</td>
          <td>exemple</td>
          <td>exemple</td>
          <td><a href="/detailscovoiturage" [routerLink]="['/details', reservation.id]" class="btn btn-primary"> voir détails </a></td>
        </tr>
    </tbody>
  </table>
  <app-reserver-vehicule></app-reserver-vehicule>
</ng-container>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

