<div class="container col-md-12">
  <div class="card card-container" id="profile-card">
    <img
      id="profile-img"
      src="{{ currentUser.imgUrl }}"
      class="profile-img-card rounded-circle"
    />
    <header class="jumbotron mt-3 mb-3">
      <h3>
        <strong>{{ currentUser.name + " " + currentUser.firstName }}</strong>
      </h3>
    </header>
    <p>
      <strong>Email:</strong>
      {{ currentUser.mail }}
    </p>
    <p>
      <strong>Tél:</strong>
      {{ currentUser.tel }}
    </p>
  </div>
</div>